p {
  font: 150% sans-serif;
}

body {
  background-color: #ffdd90;
  background-image: url("https://previews.123rf.com/images/peshkova/peshkova1803/peshkova180300363/96797701-fondo-de-pantalla-html-creativo-concepto-de-codificaci%C3%B3n-programaci%C3%B3n-y-tecnolog%C3%ADa-exposicion-doble.jpg");
}
