p {
  font: 150% sans-serif;
}

body {
  background-image: url('https://img.freepik.com/vector-gratis/ciudad-noche-luces-neon-arquitectura-futurista_1441-3323.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
}
