p {
  font: 150% sans-serif;
}

body {
  height: 400px;
  background-image: url("https://png.pngtree.com/background/20210717/original/pngtree-blue-particles-glowing-hi-tech-background-picture-image_1439189.jpg");
background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
